
.hide{
    display: none;
}

#scroll-to-top-button{
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 9999;
    cursor: pointer;
    background-color: cadetblue;
}

.sticky-nav{
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}
html{
    height: 100%;
}
body{
    min-height: 100%;
    background-color: #DCE8EA;
}

.fa-arrow-up{
    color: white;
}

.item-name{
    margin-top: 1.5rem;
}