.grid-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: "servers itemInfo itemInfo itemInfo" "servers itemInfo itemInfo itemInfo" "servers itemInfo itemInfo itemInfo";
}
  
.servers{ 
    grid-area: servers;
    background-color: cadetblue;
}
  
.itemInfo{
    grid-area: itemInfo;
    background-color: darkgoldenrod;
}

.table{
    width: 100%;
}